{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class='nav-item active'><a class='nav-link' href='#'>Cписок товаров</a></li>
        </ul>
    </nav>

    <ul>
        {% for product_type in product_types %}
            <h5>{{ product_type }}</h5>
                {% for product in products %}
                    <ul>
                        {% if product_type == product.type %}
                                <!--<li><a class='active' href="/product/{{ product.id }}">{{ product.name }}</a></li>-->
                                <li><a class='active' href="{% url 'product' product.id %}">{{ product.name }}</a></li>
                        {% endif %}
                    </ul>
                {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
